@font-face {
  font-family: 'CretanHieroglyphs';
  font-style: normal;
  font-weight: 400;
  src: local('CretanHieroglyphs Regular') format('truetype');
}
@font-face {
  font-family: 'Noto Sans Linear A and B';
  font-style: normal;
  font-weight: 400;
  src: url(NotoSansLinearA-LinearB.ttf) format('truetype');
}
